<p id="notice"><%= notice %></p>

<p>
  <b>Stop:</b>
  <%= @stop.stop_id %>
</p>

<p>
  <b>Stop name:</b>
  <%= @stop.stop_name %>
</p>


<%= link_to 'Edit', edit_stop_path(@stop) %> |
<%= link_to 'Back', stops_path %>
