<table>
	<tr>
		<td>Route: <%= @route1.no %></td>
		<td>Route: <%= @route2.no %></td>
	</tr>
	<tr>
		<td><%= @stop_time1.time_left1 %></td>
		<td><%= @stop_time2.time_left1 %></td>
	</tr>
	<tr>
		<td><%= @stop_time1.time_left2 %></td>
		<td><%= @stop_time2.time_left2 %></td>
	</tr>
	<tr>
		<td><%= @stop_time1.time_left3 %></td>
		<td><%= @stop_time2.time_left3 %></td>
	</tr>
</table>