<div class="page-header">
	<h1>Select Stops and Routes</h1>
	<h3>
		<small><span class="label label-info">Tip:</span>
			Right click on markers to select stops
		</small>
	</h3>
</div>

<ul class="nav nav-tabs">
	<li class="active"><a href="#mapTab" data-toggle="tab">Map</a></li>
	<li><a href="#stopTab" data-toggle="tab">Stop#</a></li>
	<% if user_signed_in? %>
	<li><a href="#favoritesTab" data-toggle="tab">Favorites</a></li>
	<li><a href="#historyTab" data-toggle="tab">History</a></li>
	<% end %>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="mapTab">
		<%= gmaps(map_options: {zoom: 16, detect_location: true, center_on_user: true, auto_adjust: false, center_latitude: 45.420833, center_longitude: -75.69}, markers: { data: @json, options: { do_clustering: true, clusterer_maxZoom: 13 } }) %>
	</div>
	<div class="tab-pane" id="stopTab">
		<div class="span8" style="height:414px;">
			<form class="form-inline">
				<%= label_tag 'stop_code', 'Stop: ' %>
				<%= text_field_tag 'stop_code', nil, class: "span1" %>
				<%= button_tag "<i class='icon-plus'></i>".html_safe, type: :button, class: "btn btn-small", onclick: "getStopByCode($('#stop_code').val());", title: "Add to list" %>
			</form>
		</div>
	</div>
	<% if user_signed_in? %>
	<%= render "favoritesTab" %>
	<%= render "historyTab" %>
	<% end %>
</div>

<%= form_tag '/compare/result', :method => :get, id: 'stops_form' do %>
<div class="row">
	<div class="span8">
		<h3>Selected Stops <%= image_tag("loading.gif", class: "hidden", id: "loading_indicator") %></h3>
		<table class="table table-bordered" id="selected_stops_table">
			<thead>
				<tr>
					<th>#</th>
					<th>Code</th>
					<th>Name</th>
					<th>Route</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>

<%= button_tag 'Reset', class: "btn btn-warning", id: "stops_form_reset", type: "reset" %>
<%= button_tag 'Done', class: "btn btn-success disabled", id: "stops_form_submit", disabled: true %>

<% end %>

<%= content_for :scripts do %>
<script type="text/javascript" charset="utf-8">
$(function() {

	$("#stops_form_reset").click(function(){
		resetCount();

		$('#selected_stops_table tbody').empty();

		$('#stops_form_submit').addClass("disabled");
		$('#stops_form_submit').attr("disabled", "disabled");
	});

	Gmaps.map.callback = function() {

		for (var i = 0; i <  Gmaps.map.markers.length; ++i) {
			var marker = Gmaps.map.markers[i].serviceObject
			marker.marker_id = Gmaps.map.markers[i].id;
			marker.marker_name = Gmaps.map.markers[i].name;
			google.maps.event.addListener(marker, 'rightclick', function() {
				getStop(this.marker_id);
			});
		}
	};

});

</script>
<% end %>