<div class="page-header">
	<h1>Select Stops and Routes</h1>
	<h3>
		<small><span class="label label-info">Tip:</span>
			Right click on markers to select stops
		</small>
	</h3>
</div>

<% if user_signed_in? %>
<ul class="nav nav-tabs">
	<li class="active"><a href="#mapTab" data-toggle="tab">Map</a></li>
	<li><a href="#favoritesTab" data-toggle="tab">Favorites</a></li>
	<li><a href="#historyTab" data-toggle="tab">History</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="mapTab">
		<%= gmaps(map_options: {zoom: 16, detect_location: true, center_on_user: true, auto_adjust: false, center_latitude: 45.420833, center_longitude: -75.69}, markers: { data: @json, options: { do_clustering: true, clusterer_maxZoom: 13 } }) %>
	</div>
	<div class="tab-pane" id="favoritesTab">
		<div class="span8" style="height:414px;">
			<table class="table table-bordered" id="user_favorites_table">
				<thead>
					<tr>
						<th></th>
						<th>Stop</th>
						<th>Route</th>
					</tr>
				</thead>
				<tbody>
					<% current_user.favorites.each do |fav| %>
					<tr>
						<td style="width: 36px;"><%= button_tag "<i class='icon-plus'></i>".html_safe, class: "btn btn-small", onclick: "addFromList(#{fav.stop.id}, #{fav.route.id});", title: "Add to list" %></td>
						<td><%= fav.stop.full_name %></td>
						<td><%= fav.route.full_name %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<div class="tab-pane" id="historyTab">
		<div class="span8" style="height:414px;">
			<table class="table table-bordered" id="user_history_table">
				<thead>
					<tr>
						<th></th>
						<th>Stop</th>
						<th>Route</th>
						<th>When?</th>
					</tr>
				</thead>
				<tbody>
					<% current_user.logs.each do |log| %>
					<tr>
						<td style="width: 36px;"><%= button_tag "<i class='icon-plus'></i>".html_safe, class: "btn btn-small", onclick: "addFromList(#{log.stop.id}, #{log.route.id});", title: "Add to list" %></td>
						<td><%= log.stop.full_name %></td>
						<td><%= log.route.full_name %></td>
						<td><%= time_ago_in_words log.updated_at %> ago</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<% else %>
<%= gmaps(map_options: {zoom: 16, detect_location: true, center_on_user: true, auto_adjust: false, center_latitude: 45.420833, center_longitude: -75.69}, markers: { data: @json, options: { do_clustering: true, clusterer_maxZoom: 13 } }) %>
<% end %>

<%= form_tag '/compare/result', :method => :get, id: 'stops_form' do %>
<div class="row">
	<div class="span8">
		<h3>Selected Stops <%= image_tag("loading.gif", class: "hidden", id: "loading_indicator") %></h3>
		<table class="table table-bordered" id="selected_stops_table">
			<thead>
				<tr>
					<th>#</th>
					<th>Code</th>
					<th>Name</th>
					<th>Route</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>

<%= button_tag 'Reset', class: "btn btn-warning", id: "stops_form_reset", type: "reset" %>
<%= button_tag 'Done', class: "btn btn-success disabled", id: "stops_form_submit", disabled: true %>

<% end %>

<%= content_for :scripts do %>
<script type="text/javascript" charset="utf-8">
$(function() {

	$("#stops_form_reset").click(function(){
		resetCount();

		$('#selected_stops_table tbody').empty();

		$('#stops_form_submit').addClass("disabled");
		$('#stops_form_submit').attr("disabled", "disabled");
	});

	Gmaps.map.callback = function() {

		for (var i = 0; i <  Gmaps.map.markers.length; ++i) {
			var marker = Gmaps.map.markers[i].serviceObject
			marker.marker_id = Gmaps.map.markers[i].id;
			marker.marker_name = Gmaps.map.markers[i].name;
			google.maps.event.addListener(marker, 'rightclick', function() {
				getStop(this.marker_id);
			});
		}
	};

});

</script>
<% end %>