<%= form_tag '/compare/result', method: :get do %>

<table>
	<tr>
		<% @stops.each do |stop| %>
		<td>[Stop: <%= stop.full_name %> Count: <%= stop.refresh_count %>]</td>
		<% end %>
	</tr>
	<tr>
		<% @stops.each do |stop| %>
		<td>
			<table>
				<tr>
					<td></td>
					<td>Route</td>
					<td>Direction</td>
				</tr>
				<% stop.routes.each do |route| %>
				<tr>
					<td><%= radio_button_tag "routes[#{stop.id}]", route.id %></td>
					<td><%= route[:no] %></td>
					<td><%= route[:direction] %></td>
				</tr>
				<% end %>
			</table>
		</td>
		<% end %>
	</tr>
</table>

<%= submit_tag 'Go' %>

<% end %>

# notes: autoselect radio buttons
