<div class="page-header">
	<h1>Select Stops</h1>
	<h3>
		<small>
			Right click on markers to select stops
		</small>
	</h3>
</div>

<%= gmaps(map_options: {zoom: 16, detect_location: true, center_on_user: true, auto_adjust: false}, markers: { data: @json, options: { do_clustering: true, clusterer_maxZoom: 13 } }) %>

<%= form_tag '/compare/select_routes', :method => :get, id: 'stops_form' do %>

<h3>Selected Stops</h3>
<table class="table table-bordered" id="selected_stops_table">
	<thead>
		<tr>
			<th>#</th>
			<th>Code</th>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<%= button_tag 'Reset', class: "btn btn-warning", id: "stops_form_reset", type: "reset" %>
<%= submit_tag 'Next', class: "btn btn-success disabled", id: "stops_form_submit", disabled: true %>

<% end %>

<%= content_for :scripts do %>
<script type="text/javascript" charset="utf-8">
$(function() {

	var selected_stops = [];

	$("#stops_form_reset").click(function(){
		selected_stops = [];

		$('#selected_stops_table tbody').empty();

		$('#stops_form_submit').addClass("disabled");
		$('#stops_form_submit').addAttr("disabled");
	});

	Gmaps.map.callback = function() {

		for (var i = 0; i <  Gmaps.map.markers.length; ++i) {
			var marker = Gmaps.map.markers[i].serviceObject
			marker.marker_id = Gmaps.map.markers[i].id;
			marker.marker_name = Gmaps.map.markers[i].name;
			google.maps.event.addListener(marker, 'rightclick', function() {

				if (selected_stops.length >= 10) {
					alert("Cannot add more than 10 stops.");
				} else {
					var answer = confirm("Do you want to select stop: " + this.marker_name + "?");

					if (answer) {
						selected_stops.push(this.marker_id);
						getStop(this.marker_id, selected_stops.length);

						$('<input type="hidden">').attr({
							name: 'stops',
							value: selected_stops
						}).appendTo('#stops_form');

						$('#stops_form_submit').removeClass("disabled");
						$('#stops_form_submit').removeAttr("disabled");

					}
				}

			});
		}
	};

	function getStop(stop_id, stop_index) {
		$.ajax({
			url: "/stops/" + stop_id + ".json",
			success: function (data) {
				$('#selected_stops_table > tbody:last').append("<tr><td>Stop " + stop_index + "</td><td>" + data.code + "</td><td>" + data.name + "</td></tr>");
			}
		});
	}

});

</script>
<% end %>