<%= form_tag '/compare/result', method: :get do %>

<%= hidden_field_tag 'stop1', @stop1.id %>
<%= hidden_field_tag 'stop2', @stop2.id %>

<table>
	<tr>
		<td>[Stop1: <%= @stop1.full_name %> Count: <%= @stop1.refresh_count %>]</td>
		<td>[Stop2: <%= @stop2.full_name %> Count: <%= @stop2.refresh_count %>]</td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td></td>
					<td>Route</td>
					<td>Direction</td>
				</tr>
				<% @routes1.each do |route| %>
				<tr>
					<td><%= radio_button_tag :route1, route.id %></td>
					<td><%= route[:no] %></td>
					<td><%= route[:direction] %></td>
				</tr>
				<% end %>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<td></td>
					<td>Route</td>
					<td>Direction</td>
				</tr>
				<% @routes2.each do |route| %>
				<tr>
					<td><%= radio_button_tag :route2, route.id %></td>
					<td><%= route[:no] %></td>
					<td><%= route[:direction] %></td>
				</tr>
				<% end %>
			</table>
		</td>
	</tr>
</table>

<%= submit_tag 'Go' %>

<% end %>

# notes: autoselect radio buttons