
<div class="page-header">
	<h1>Select Routes</h1>
</div>

<%= form_tag '/compare/result', method: :get do %>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th>Stop Name</th>
			<th>Route</th>
		</tr>
	</thead>
	<tbody>
		<% @stops.each_with_index do |stop, index| %>
		<tr>
			<td>Stop <%= index+1 %></td>
			<td><%= stop.full_name %></td>
			<td><%= select_tag "routes[#{stop.id}]", options_from_collection_for_select(stop.routes, 'id', 'full_name') %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= submit_tag 'Go', class: "btn btn-success" %>

<% end %>

