<p id="notice"><%= notice %></p>

<p>
  <b>No:</b>
  <%= @route.no %>
</p>

<p>
  <b>Direction:</b>
  <%= @route.direction %>
</p>


<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
