<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= content_for?(:title) ? yield(:title) : "OC Transpo - Stop Times" %></title>
	<meta name="description" content="">
	<meta name="author" content="">
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<%= yield(:head) %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to "Home", :root, class: "brand" %>
				<div class="container">
					<ul class="nav">
						<li><%= link_to "Favorites", controller: "favorites", action: "index" %></li>
					</ul>
					<ul class="nav pull-right">
						<% if user_signed_in? %>
						<li><%= link_to current_user.username, edit_user_registration_path %></li>
						<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
						<% else %>
						<li><%= link_to "Sign In", new_user_session_path %></li>
						<li><%= link_to "Sign Up", new_user_registration_path %></li>
						<% end %>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<div id="main" role="main">
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="span12">
						<%= render 'layouts/messages' %>
						<%= yield %>
					</div>
				</div>
			</div>
		</div> <!--! end of .container -->
	</div> <!--! end of #main -->
	<div id="footer">
		<%= yield :scripts %>
	</div>
</body>
</html>