<!DOCTYPE html>
<html>
<head>
  <title>OctranspoStopTimes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>
	<%= yield :scripts %>
</footer>

</body>
</html>
